.form-subscribe{
    padding: 3em 0;
    background: rgb(52,152,219);
    background: linear-gradient(180deg, rgba(155, 89, 182,1.0) 0%, rgba(99,0,140,0.7) 100%);

    &__title{
        text-align: center;
        font-family: 'Poppins';

        h4{
            font-weight: 600;
            color: #FFFFFF;
        }

        p{
            margin: .8em 0;
            font-size: 1.2rem;
            color: #FFFFFF;
        }
    }

    &__action{ 
        width: 50%;
        margin: 3em auto 1em;

        .form-input{
            border-radius: 90px;
            padding: 1.4em;
            color: #2F2F2F;
            text-transform: capitalize;
            border: 2px solid #2980b9;
        }
    }
}